*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* background-image: url(./DedicatedCabinet.png); */
  background-size: cover;
  background-position: center;
  position: relative;
}

.avatar::before,
.avatar::after {
  position: absolute;
  content: "";
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}

.avatar::before {
  content: attr(data-tooltip);
  color: white;
  height: 25px;
  width: 25px;
  background: black;
}